html, body {
    height: 100%;
    margin: 0;
}

#header{
    text-align: center;
}

.mainView {
    margin: auto;
    min-width: 500px;
    max-width: 500px;
    min-height: 400px;
    padding: 10px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
}

#healthView {
    background-color: beige;
    color: red;
    float: right;
    text-align: center;
    min-width: 48px;
    min-height: 48px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
}